.Cadastro{
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/img/HordaFundo.jpg");
    background-repeat: space;
    background-size: 45%;
    background-position: center;
}