.tabelaMembro{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    align-items: baseline;
    padding-top: .2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabelaDados{
    background-color: rgba(177, 177, 177, 0.705);
    width: 99%;
    border-collapse: collapse;
    border-radius: 10px;
    font-weight: bold;
}
.buttonPaginacao{
    width: 99%;
}
    .buttonPaginacao button{
        margin: .5% 1% .5% 0%;
        padding: .5%;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: .5px .5px 5px rgb(255, 255, 255);
        font-weight: bold;
    }
    .buttonPaginacao button:hover{
        background-color: rgba(204, 202, 202, 0.288);
    }
.TabelaTH ,.TabelaTHIcon{
    font-weight: bold;
    font-size: 1.3rem;
    padding: .5% 0% .5% 0%;
    border: solid black 1px; 
    background-color: rgb(83, 9, 9);
    color: rgb(255, 255, 255);      
}
    .TabelaTHIcon{
        width: 9%;
    }
.TabelaTD ,.TabelaTDIcon,.TabelaTDKillBoard{
    text-align: center;
    border: solid black 1px;
    padding: .5% 0% .5% 0%;
}
    .TabelaTD{
        background-color: rgba(216, 216, 216, 0.082); 
    }
    .TabelaTDIcon{    
        background-color: rgba(114, 114, 114, 0.575);    
        cursor: pointer;
    }
    .TabelaTDIcon:hover{
        background-color: rgba(114, 114, 114, 0.808); 
    }

.icons{
    font-size: 1.5rem;    
}
.TabelaTDKillBoard{
    cursor: pointer;
}
.TabelaTDKillBoard:hover{
    transform: scale(1.05);
    background-color: rgba(114, 114, 114, 0.808); 
}

/* */
.Pendente{
    color: rgb(238, 225, 49);
}
.Aceito{
    color: rgb(0, 26, 255);
}
.Negado{
    color: rgb(216, 13, 13);
}
.Finalizado{
    color: rgb(63, 238, 19);
}
.Resgatado{
    color: rgb(63, 238, 19);
}