@font-face {
    font-family: Seagram;
    src: url(../../public/fonts/Seagram.ttf);
}
.Navegador{
    border-radius: 20px;
}
.iconHorda {
    width: 20px;
    height: 20px;
    margin-left: 10%;
}
.navItemContent {
    display: flex;
    align-items: center;
}
.NomeJogador{
    font-family: Seagram;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(139, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0% 3% 0%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: -4%;
    
}